<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Login</title>

</head>

<!--<body id="body">-->
<form id="frmLoginUser" >
  <br>
  <div id="tit"></div>
  <br>
  <br>
  <div id="image1">
    <div id="image"></div>

      <div class="loginBox">
        <div class="glass">
          <h1>ForgetPassword</h1>
          <div class="inputBox">
            <input type="text" name="e-mail" placeholder="E-mail">
            <span><i class ="fas fa-user"></i></span>
            <!--<p>E-mail@gmail.com</p>-->
          </div>
          <br>
          <input id="btnSend" type="submit" name="send" value="Send">
        </div>

      </div>
    </div>

</form>
<!--</body>-->

