<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <br>
                <div class="title"style="font-size: large">Add Guide</div>
                <br>
                <div class="col-md-3"><label>Guide ID :</label></div>
                <div class="col-md-9"><input type="text" class="form-control"></div>
                <br>
                <br>
                <br>
                <div class="col-md-3"><label>Guide Name :</label></div>
                <div class="col-md-9"><input type="text" class="form-control"></div>
                <br>
                <br>
                <br>
                <!--<div class="row">-->
                <!--<div class="col-md-1"></div>-->
                <div class="col-md-3"><label>City :</label></div>
                <div class="col-md-3"><select class="form-control" name="city"></select></div>
                <div class="col-md-2"><label>Langvage Type :</label></div>
                <div class="col-md-4"><select class="form-control" name="langvageType :"></select></div>
                <!--</div>-->
                <br>
                <br>
                <br>
                <div class="col-md-3"><label>Contact :</label></div>
                <div class="col-md-9"><input type="text" class="form-control"></div>
                <br>
                <br>
                <br>
                <div class="col-md-3"><label>Address :</label></div>
                <div class="col-md-9"><input type="text" class="form-control"></div>
                <br>
                <br>
                <br>
                <div class="col-md-3"><label>Mail :</label></div>
                <div class="col-md-9"><input type="text" class="form-control"></div>
                <br>
                <br>
                <br>
                <!--<div class="col-md-3"><label>Langvage Type :</label></div>-->
                <!--<div class="col-md-9"><select class="form-control" name="langvageType"></select></div>-->
                <!--<br>-->
                <!--<br>-->
                <!--<br>-->
                <!--&lt;!&ndash;<div class="col-md-3"><label>City :</label></div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-md-9"><select class="form-control" name="city"></select></div>&ndash;&gt;-->
                <!--<br>-->
                <!--<br>-->
                <!--<br>-->
                <div class="row">
                    <div class="col-md-12" >
                        <button href="index.php" type="submit" class="btn btn-primary btn-fill btn-block ">Add</button>
                    </div>
                </div>
                <br>
                <br>
            </div>
            <div class="col-md-5">
                <br>
                <br>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-search"></i>
                            <p class="hidden-lg hidden-md">Search</p>
                        </a>
                    </li>
                </ul>
                <br>
                <div class="space"></div>
                <ul>
                    <li>
                        <a href="language"><i class="fa fa-forward" aria-hidden="true"></i>
                            Add Langvage Type
                        </a>
                    </li>
                    <li class="separator hidden-lg hidden-md"></li>
                </ul>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>

