.col-md-5{
    left: 0px;
    background-color: darkblue;
    margin-top: 0px;
    width: 250px;
    height: 595px;
    color: dimgray;
}

.col-md-7{
    background-color: white;
    border-bottom-style: groove;
    width: 800px;
}