<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <br>

                <br>
                <br>
                <table class="table" id="tableA">
                    <thead style="background-color:white;color: white">
                    <tr>
                        <th></th>
                        <th>Location</th>
                        <th>Accomaration Type</th>
                        <th>Accomaration ID</th>
                        <th>Accomaration Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a><i class="fa fa-pencil-square-o" aria-hidden="true">update</i> </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4"><div><a  href="addresthouse" class="btn btn-round btn-fill btn-info pull-right">Add Accomaration</a></div>
                <button type="reset" class="btn btn-danger class=btn btn-round btn-fill pull-right col-md-5">Delete </button>
                <div></div>
                <br>
                <br>
                <div class="simage"></div>

            </div>
        </div>

    </div>
</div>