<div id="image">

<div class="loginBox">

  <div class="glass">

    <img src="reset-image/reset-icon.png" class="user">
    <h1>Reset Your<br> Password</h1>
    <form id="frmResetPassword" action="" method="" enctype="application/x-www-form-urlencoded">
      <div class="inputBox">
        <input type="password" name="newPassword" placeholder="New Password ">
        <span><img src="reset-image/new-password-icon.png"></span>
      </div>
      <div class="inputBox">
        <input type="password" name="comfirmPassword" placeholder="Confirm Password ">
        <span><img src="reset-image/comfirm-password-icon.png"></span>
      </div>

      <input id="btnDone" type="submit" name="done" value="Done">

    </form>
  </div>
</div>
</div>
