<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <br>
                <div class="title"style="font-size: large">Add New LanguageType</div>
                <br>
                <div class="col-md-3"><label>Language ID :</label></div>
                <div class="col-md-9"><input type="text" class="form-control"></div>
                <br>
                <br>
                <br>
                <div class="col-md-3"><label>Language Type :</label></div>
                <div class="col-md-9"><input type="text" class="form-control"></div>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-12" >
                        <button href="index.php" type="submit" class="btn btn-primary btn-fill btn-block ">Add</button>
                    </div>
                </div>
                <br>
                <p>View All LanguageType</p>
                <br>
                <br>
                <table class="table" id="tableN">
                    <thead style="background-color: white;color: black">
                    <tr>
                        <th></th>
                        <th>Language ID</th>
                        <th>Language Type</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a><i class="fa fa-times" aria-hidden="true"></i> </a>remove</td>
                        <td><a><i class="fa fa-times" aria-hidden="true"></i> </a>update</td>
                    </tr>
                    </tbody>
                </table>
                <br>
            </div>

        </div>
    </div>
</div>

