<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <br>

                <br>
                <br>
                <table class="table" id="tableN">
                    <thead style="background-color:white;color: white">
                    <tr>
                        <th></th>
                        <th>City</th>
                        <th>Location Type</th>
                        <th>Location ID</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a><i class="fa fa-pencil-square-o" aria-hidden="true">update</i> </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4"><div><a  href="viewlocation" class="btn btn-round btn-fill btn-info pull-right">Add New Location</a></div>
            <button type="reset" class="btn btn-danger class=btn btn-round btn-fill pull-right">Delete Location</button>
                <div></div>
                <br>
                <br>
                <div class="simage"></div>
                <!--<div class="slideshow-container">-->

                    <!--<div class="mySlides fade">-->
                        <!--<div class="numbertext">1 / 3</div>-->
                        <!--<img src="../image/Vaamana32.jpg" style="width:100%">-->
                        <!--<div class="text">Caption Text</div>-->
                    <!--</div>-->

                    <!--<div class="mySlides fade">-->
                        <!--<div class="numbertext">2 / 3</div>-->
                        <!--<img src="../image/Vatadage.jpg" style="width:100%">-->
                        <!--<div class="text">Caption Two</div>-->
                    <!--</div>-->

                    <!--<div class="mySlides fade">-->
                        <!--<div class="numbertext">3 / 3</div>-->
                        <!--<img src="../image/sigiriya-by-air.jpg" style="width:100%">-->
                        <!--<div class="text">Caption Three</div>-->
                    <!--</div>-->

                <!--</div>-->
                <!--<br>-->

                <!--<div style="text-align:center">-->
                    <!--<span class="dot"></span>-->
                    <!--<span class="dot"></span>-->
                    <!--<span class="dot"></span>-->
                <!--</div>-->

                <!--<script>-->
                    <!--var slideIndex = 0;-->
                    <!--showSlides();-->

                    <!--function showSlides() {-->
                        <!--var i;-->
                        <!--var slides = document.getElementsByClassName("mySlides");-->
                        <!--var dots = document.getElementsByClassName("dot");-->
                        <!--for (i = 0; i < slides.length; i++) {-->
                            <!--slides[i].style.display = "none";-->
                        <!--}-->
                        <!--slideIndex++;-->
                        <!--if (slideIndex > slides.length) {slideIndex = 1}-->
                        <!--for (i = 0; i < dots.length; i++) {-->
                            <!--dots[i].className = dots[i].className.replace(" active", "");-->
                        <!--}-->
                        <!--slides[slideIndex-1].style.display = "block";-->
                        <!--dots[slideIndex-1].className += " active";-->
                        <!--setTimeout(showSlides, 2000); // Change image every 2 seconds-->
                    <!--}-->
                <!--</script>-->

            <!--</div>-->
        <!--</div>-->
            </div>
        </div>
        <!--<div class="image">-->

        <!--</div>-->
    </div>
</div>