<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <div class="col-md-1"></div>
                <div class="col-md-2"><label>City :</label></div>
                <div class="col-md-8"><select class="form-control" name="city"></select></div>
                <div class="col-md-1"></div>
                <br>
                <br>
                <div class="col-md-1"></div>
                <div class="col-md-2"><label>Location Type :</label></div>
                <div class="col-md-8"><select class="form-control" name="locationType"></select></div>
                <div class="col-md-1"></div>
                <br>
                <br>
                <div class="col-md-1"></div>
                <div class="col-md-2"><label>Location :</label></div>
                <div class="col-md-8"><select class="form-control" name="location"></select></div>
                <div class="col-md-1"></div>
                <br>
                <br>
                <div class="col-md-1"></div>
                <div class="col-md-2"><label>Image ID :</label></div>
                <div class="col-md-8"><input type="text" class="form-control"></div>
                <div class="col-md-1"></div>
                <br>
                <br>
                <!--<div class="col-md-9"></div>-->
                <!--<div class="col-md-3">-->
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-round btn btn-info btn-fill btn-info">Upload Image</button>
                    </div>

                </div>
                <div class="col-md-3"></div>
                <div class="col-md-8">
                    <table class="table" id="tableN">
                        <thead style="background-color: white;color: white">
                        <tr>
                            <th></th>
                            <th>Image ID</th>
                            <th>Image</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a><i class="fa fa-times" aria-hidden="true"></i> </a>remove</td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <button type="submit" class="btn-success btn btn-info btn btn-round btn-fill btn-info">Save New Image</button>
                            <a  href="table" class="btn-danger btn btn-round btn-fill btn-info btn-info">Back ViewLocation</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>