<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login</title>

</head>

<!--<body id="body" class="container">-->
<form id="frmLoginUser">
    <br>
    <div id="tit"></div>
    <br>
    <br>
    <div id="image1">
        <div id="image"></div>
        <div id="space"></div>
        <div id="im"></div>
        <br>
        <br>
        <br>
        <div id="img"></div>
    </div>
    <br>
    <br>
    <br>
    <div id="con" class="container">
        <div class="loginBox">
            <div class="glass">
                <br>
                <h1>Login Here</h1>

                <div class="inputBox">
                    <input type="text" name="UserName" placeholder="User Name">
                    <span><i class="fas fa-user"></i></span>
                </div>
                <div>
                    <input type="password" name="Password" placeholder="Password">
                    <span><i class="glyphicon glyphicon-user"></i> </span>
                    <a routerLink="/forget-password">Forgot Password</a>

                </div>
                <br>
                <input id="btnLogin" type="submit" name="login" value="Login">
            </div>

        </div>
    </div>
</form>
<!--</body>-->

