<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <form id="frmAddPackage" action="" method="post" enctype="application/x-www-form-urlencoded">
                    <br>

                    <p class="form-group">
                        <label>Package Id :</label>
                        <input class="form-control" name="eventId" placeholder="Enter Event Id">
                    </p>
                    <p class="form-group">
                        <label>Package Name :</label>
                        <input class="form-control" name="eventName" placeholder="Enter New Event Name">
                    </p>

                </form>

                <button type="submit" class="btn btn-round btn-fill btn-info pull-right">Add To Table</button>

                <br>
                <br>
                <br>

                <table class="table" id="table">
                    <thead style="background-color: white; color: white">
                    <tr>
                        <th></th>
                        <th>Package Id</th>
                        <th>Package Name</th>
                        <th></th>
                    </tr>
                    </thead>


                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a></td>
                    </tr>
                    </tbody>



                </table>
            </div>
            <div class="col-md-4">
                <br>
                <ul>

                    <li>
                        <a href="viewall">Manage Event</a>
                    </li>
                    <br>
                    <li>
                        <a href="">Manage Rest House</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

